.App {
  text-align: center;
  background-color: rgb(118, 156, 143);
  color: black;
  font-family: "Meet The Artists", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  padding: 50px;
  background-color: rgb(241, 222, 201);
}

.container {
  width: 300px;
  height: 300px;
}

.text {
  font-size: "Art Professions", sans-serif;
  font-size: "Artist Form", sans-serif;
  margin-top: -20px;
  text-align: top;
}

.filter-item {
  margin: 28px;
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 55px;
  border-radius: 3px;
  outline: 2px solid rgba(195, 181, 156, 0.516);
  background-color: rgb(227, 244, 209);
}

.form-item {
  margin: 28px;
  width: 150px;
  height: 213px;
  display: flex;
  padding: 55px;
  justify-content: center;
  border-radius: 3px;
  outline: 2px solid rgba(195, 181, 156, 0.516);
  background-color: rgb(227, 244, 209);
}

.artists {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 30px;
  display: inline-block;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.artists:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.324);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.flip-card-back {
  transform: rotateY(180deg);
  padding: 20px;
  text-align: start;
  text-transform: capitalize;
}

button {
  background-color: rgb(255, 154, 176);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: background 0.3s;
}

button:disabled {
  background-color: rgba(255, 154, 176, 0.447);
  cursor: not-allowed;
}
